body{
    font-family: 'Forum', serif;
  background-image: url(./mes-herencia-griega-americana-fondo-ilustraciones-columnas-griegas-espacio-copia-minimalista-sencillo_499817-1698.avif);
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat;
  background-size: cover; /* Ajusta la imagen a toda la pantalla */
  background-attachment: fixed; /* 🔹 Hace que la imagen quede estática */
  color: #292a2b;
  margin: 0;
  padding: 0;

}

.titulo-principal{
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
    
    
}

.contenedor{
 max-width: 800px;      /* limita el ancho máximo */
  margin: 40px auto;     /* 40px arriba y abajo, centrado horizontalmente */
  padding: 50px;         /* espacio interno dentro del contenedor */
  
  }